{% extends 'base.html' %}
{% load humanize %}


{% block content %}


<div class="flex bg-gray-50 dark:bg-gray-900 px-8 py-3 border">
    
    <!-- Sidebar -->

    <aside
      class="w-64 max-h-72 border rounded-lg py-6 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidenav"
      id="drawer-navigation"
    >
      <div class="px-2 flex flex-col items-center">
        
        
        </div>


    </aside>

    <main class="p-4 h-auto pt-2 w-full">

      <div class="w-full">
        
      </div>
        
    </main>
  </div>





{% endblock content %}








